@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.stats {
  min-width: 1012px;

  @media(max-width: 1485px) {
    min-width: auto;

    .statistics-card-group {
      flex-wrap: wrap;
    }
  }

  .card-type-active {
    background: $zanah;
    border: 1px ridge black;

    .card-link-icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.queue {
  
}
