@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.queue-stats {
  min-width: 1012px;

  @media(max-width: 1485px) {
    min-width: auto;

    .statistics-card-group {
      flex-wrap: wrap;
    }
  }

  .stats-group {
    margin-bottom: 56px;
  }

  .card-type-active {
    background: $zanah;

    .card-link-text {
      .statistics-card-text {
        text-decoration: underline;
      }
    }

    .card-link-icon {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.queue {
  .item-actions {
    display: flex;
    gap: 0.5rem;
  }
}
