@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.default-layout {
  .sidenav {
    background: $stein-1;
    min-width: 200px;

    .sidenav-list-wrapper {

      .sidenav-list {

        .sidenav-item {

          &.active {
            background: $stein-2;

            a {
              background: $stein-2;
            }
          }
        }
      }
    }
  }

  .container {

    .main-content {
      margin: ($baseUnit * 4) auto;

      @media(min-width: 1001px) {
        margin-left: 216px; // (sidenav min-width) + ($baseUnit * 2)
        min-width: -200px;
      }

      @media(max-width: 1000px) {
        padding: 0 ($baseUnit * 2);
      }
    }
  }
}
