@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

$sideNavWidth: 200px;

.default-layout {
  padding-left: $sideNavWidth + ($baseUnit * 4);
  padding-bottom: $baseUnit * 6;
  max-width: 100%;

  @media(max-width: 1000px) {
    padding-left: 0;
    padding-bottom: $baseUnit * 3;
    overflow: hidden;
  }

  .sidenav {
    background: $stein-1;
    min-width: $sideNavWidth;

    .sidenav-list-wrapper {

      .sidenav-list {

        .sidenav-item {

          &.active {
            background: $stein-2;

            a {
              background: $stein-2;
            }
          }
        }
      }
    }
  }

  .container {
    max-width: 1400px;
    margin: ($baseUnit * 4) 130px ($baseUnit * 4) 100px;

    @media(max-width: 1000px) {
      padding: 0 ($baseUnit * 2);
    }
  }
}
